---
- name: Remove cloud init
  apt:
    name: cloud-init
    state: absent
  when:
    - ansible_facts["os_family"] == "Debian"
    - ansible_facts["lsb"]["id"] == "Ubuntu"
    - ansible_facts["lsb"]["release"] is version('18.04', '>=')

- name: Set Hostname
  hostname:
    name: "{{ base_hostname|default(inventory_hostname) }}"

- name: Set Hosts base entry
  template:
    dest: /etc/hosts
    src: hosts_file
    owner: root
    group: root
    mode: 0644

- name: Enable locales
  template:
    src: enabled_locales
    dest: /etc/locale.gen
    mode: 0644
    owner: root
    group: root
  notify: Generate locales

- name: Set locale
  template:
    src: default_locale
    dest: /etc/default/locale
    mode: 0644
    owner: root
    group: root

- name: Set timezone
  timezone:
    name: "{{ timezone }}"

- name: Set motd
  copy:
    src: "{{ base_motd }}"
    dest: /etc/motd
  when: base_motd is defined

- name: Set fstab
  copy:
    src: "{{ base_fstab }}"
    dest: /etc/fstab
  when: base_fstab is defined

- name: Set aliases
  template:
    src: "{{ postfix_aliases_file|default('') }}"
    dest: /etc/aliases
    mode: 0644
    owner: root
    group: root
  notify: New aliases
  when: postfix_aliases_file is defined
