---
# Base role tasks

# - include: dependencies_ubuntu.yml
#   when: ansible_os_family == "Debian"
# - include: dependencies_archlinux.yml
#   when: ansible_os_family == "Archlinux"
# - include: dependencies_centos.yml
#   when: ansible_os_family == "RedHat"
#
- include_tasks: base.yml
- include_tasks: users.yml
- include_tasks: ssh.yml
- include_tasks: ufw.yml
- include_tasks: ntp.yml
  when:
    - ansible_os_family == "Debian"
    - ansible_lsb.id == "Ubuntu"
    - ansible_lsb.major_release|int < 18

- include_tasks: chrony.yml
  when: (ansible_os_family == "Debian" and ansible_lsb.id == "Ubuntu" and ansible_lsb.release is version('18.04', '>=')) or
        (ansible_os_family == "Archlinux") or
        (ansible_os_family == "RedHat")
- include_tasks: smartd.yml
- include_tasks: network.yml
  when: (ansible_os_family == "Debian" and ansible_lsb.id == "Ubuntu" and ansible_lsb.release is version('18.04', '>=')) or
        (ansible_os_family == "Archlinux")
