---
- include_tasks: network_netplan_ubuntu.yml
  when:
    - ansible_facts["distribution"] == "Ubuntu"
    - base_network_manager == "netplan"

- include_tasks: network_netplan_arch.yml
  when:
    - ansible_facts["distribution"] == "Archlinux"
    - base_network_manager == "netplan"

- include_tasks: network_configure_netplan.yml
  when:
    - base_network_manager == "netplan"

- include_tasks: network_systemd_arch.yml
  when:
    - ansible_facts["distribution"] == "Archlinux"
    - base_network_manager == "systemd"
