Port {{ ssh_port }}
Protocol 2

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
MaxAuthTries 3
LoginGraceTime 360
PermitRootLogin {{ ssh_permit_root_login }}
StrictModes yes
PubkeyAuthentication yes
IgnoreRhosts yes
HostbasedAuthentication no
PermitEmptyPasswords no
PasswordAuthentication {{ ssh_permit_password_authentication }}
ChallengeResponseAuthentication no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp {% if ansible_facts["os_family"] == "Archlinux" %}{{ base_ssh_sftp_subsytem_path_arch }}{% elif ansible_facts["os_family"] == "Debian" %}{{ base_ssh_sftp_subsytem_path_ubuntu }}{% elif ansible_facts["os_family"] == "RedHat" %}{{ base_ssh_sftp_subsytem_path_centos }}{% endif %}

UsePAM yes

{% if base_sftp_users is defined %}
Match Group {{ base_sftp_group}}
	ForceCommand internal-sftp
	PasswordAuthentication {{ ssh_permit_password_authentication|default("no") }}
	ChrootDirectory %h
	PermitTunnel no
	AllowAgentForwarding no
	AllowTcpForwarding no
	X11Forwarding no
{% endif %}
